<h1>CEDAR Embeddable Editor</h1>
<h2>Wait for config - spinner</h2>

<p>The configuration in this example is passed in after 3 seconds. Before the config is available, the editor shows a spinner.</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Result</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <cedar-embeddable-editor
      [config]="configuration"
    ></cedar-embeddable-editor>
  </mat-card-content>
</mat-card>

