<h1>CEDAR Embeddable Editor</h1>
<h2>Requirements</h2>

<p>The CEDAR Embeddable Editor is a WebComponent.</p>

<p>In order to have it running, you will need some supporting libraries.</p>

<p>The code snipped below shows a common HTML setup for running webcomponents:</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Requirements</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre><code [highlight]="code"></code></pre>
  </mat-card-content>
</mat-card>
