<h1>CEDAR Embeddable Editor</h1>
<h2>Parameters</h2>

<p>The CEDAR Embeddable Editor provides the following configuration parameters. This list contains the default values for the given parameters:</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Parameters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre><code [highlight]="code1"></code></pre>
  </mat-card-content>
</mat-card>

<p>The configuration parameters should be passed in as an object (Angular sample):</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Passing in configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre><code [highlight]="code2"></code></pre>
  </mat-card-content>
</mat-card>

